:root {
    --main-font: 'Fredoka One', cursive;
    --shadow-color: black;
    --action-color: #00008B;
    --signup-bg: #F9F6EE; 
    --signup-google-bg: #4169E1;
    --signup-google-fg: white;
}

html, body, #root, #app {
    /* prevent collapsing margins */
    display: flex;
    height: 100%;
    width: 100%;
}

#navbar {
    height: 20vh;
}

.text-green {
    color: #228B22;
    font-weight: bold;
}

.main-text {
    font-family: var(--main-font);
}

button {
    font-family: var(--main-font);
}

.sign-up-button {
    background-color: var(--signup-bg);
}

.sign-up-button:hover {
    cursor: pointer;
}

.sign-up-google {
    background-color: var(--signup-google-bg);
    color: var(--signup-google-fg);
}

.sign-up-google:hover {
    cursor: pointer;
}

.copyright {
    bottom: 2rem;
    opacity: 0.6;
    position: absolute;
}

@import './frontpage.css';
@import './loginsignup.css';
@import './post.css';
@import './rent.css';
@import './navbar.css';


