:root {
    --main-font: ;
    --shadow-color: black;
    --action-color: #00008B;
}

html, body, #root, #app {
    /* prevent collapsing margins */
    display: flex;
    height: 100%;
    width: 100%;
}

#navbar {
    height: 20vh;
}

.text-green {
    color: #228B22;
}

.main-text {
    font-family: var(--main-font);
}

@import './frontpage.css';
@import './loginsignup.css';
@import './post.css';
@import './rent.css';


