:root {
    --main-font: ;
}

html, body, #root, #app {
    /* prevent collapsing margins */
    display: flex;
    height: 100%;
    width: 100%;
}

.text-green {
    color: #228B22;
}

.main {
    font-family: var(--main-font);
}

@import './frontpage.css';
@import './loginsignup.css';
@import './post.css';
@import './rent.css';


