#post-page {
    align-items: center;
    flex-direction: column;
}

#post-container {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#post {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#post > * {
    margin: 0.5rem;
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact > * {
    margin-top: 0.2rem;
}


